body {
  padding: 0;
  margin: 0;
  color: white;
  background: #1a1a1a;
  font-family: comfortaa, arial;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

ul {
  padding: 0;
  margin: 0;
}

ul > li {
  padding: 0;
  margin: 0;
}

ul > div {
  padding: 0;
  margin: 0;
}

button,
input,
select {
  outline: none;
}

.wrapper {
  min-height: 100%;
  height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url("../img/bg1.jpg") center/cover;
  overflow: hidden;
}

.height {
  height: 100%;
}

.container {
  max-width: 60.94vw;
  margin: 0 auto;
  padding: 0 1vw;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__block-purchase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40vw;
  gap: 1vw 0;
}

.content__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0 10vw;
}

.content__block-purchase-choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-backdrop-filter: blur(0.2vw);
          backdrop-filter: blur(0.2vw);
  gap: 1.2vw 0;
  width: 40vw;
  height: 10vw;
  padding: 2vw 10vw;
  border-radius: 2vw;
  -webkit-box-shadow: 0 0 1vw black;
          box-shadow: 0 0 1vw black;
  font-family: Orbitron, comfortaa, arial;
}

.content__block-purchase-choice-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 4vw;
  font-family: Orbitron, comfortaa, arial;
}

.content__block-purchase-choice-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.4vw 0;
}

.content__block-purchase-choice-list-item-title {
  font-size: 1vw;
  letter-spacing: 0.1vw;
}

.content__block-purchase-choice-list-item-input {
  width: 8vw;
  height: 1.4vw;
  padding: 0.65vw 0.4vw;
  font-size: 0.86vw;
  letter-spacing: 0.06vw;
  background: transparent;
  border: none;
  color: white;
  -webkit-box-shadow: 0 0 0.5vw white, 0 0 0.2vw black inset;
          box-shadow: 0 0 0.5vw white, 0 0 0.2vw black inset;
  border-radius: 0.5vw;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.content__block-purchase-choice-list-item-input:hover {
  -webkit-box-shadow: 0 0 0.2vw white;
          box-shadow: 0 0 0.2vw white;
}

.content__block-purchase-choice-list-item-input:focus {
  -webkit-box-shadow: 0 0 0.2vw white;
          box-shadow: 0 0 0.2vw white;
}

.content__block-purchase-choice-list-item-select {
  width: 8vw;
  height: 1.6vw;
  padding: 0 0 0 0.35vw;
  font-size: 0.86vw;
  letter-spacing: 0.06vw;
  background: transparent;
  color: white;
  -webkit-box-shadow: 0 0 0.5vw white;
          box-shadow: 0 0 0.5vw white;
  border-radius: 0.5vw;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.content__block-purchase-choice-list-item-select:hover {
  -webkit-box-shadow: 0 0 0.2vw white;
          box-shadow: 0 0 0.2vw white;
}

.content__block-purchase-choice-list-item-select-option {
  background: black;
  color: white;
  -webkit-box-shadow: 0 0 0.5vw white;
          box-shadow: 0 0 0.5vw white;
  border-radius: 0.5vw;
  letter-spacing: 0.06vw;
}

.content__block-purchase-choice-btn {
  width: 6vw;
  height: 3vw;
  font-size: 1.2vw;
  padding: 0.4vw 1.2vw;
  -webkit-box-shadow: 0 0 0.5vw white inset, 0 0 0.5vw black;
          box-shadow: 0 0 0.5vw white inset, 0 0 0.5vw black;
  border-radius: 0.5vw;
  border: none;
  background: transparent;
  color: white;
  cursor: pointer;
  letter-spacing: 0.1vw;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.content__block-purchase-choice-btn:hover {
  -webkit-box-shadow: 0 0 0.5vw black inset, 0 0 1vw white;
          box-shadow: 0 0 0.5vw black inset, 0 0 1vw white;
  -webkit-transform: scale(0.9, 0.9);
          transform: scale(0.9, 0.9);
}

.content__block-purchase-choice-error {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0.4vw 0;
  color: #eb1e3d;
  letter-spacing: 0.08vw;
  gap: 0 0.2vw;
  font-size: 1vw;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.content__block-purchase-choice-error-true {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  opacity: 1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.content__block-purchase-list {
  -webkit-backdrop-filter: blur(0.2vw);
          backdrop-filter: blur(0.2vw);
  width: 40vw;
  height: 25vw;
  padding: 1vw 4vw;
  text-align: center;
  border-radius: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.8vw 1vw;
  font-size: 1vw;
  -webkit-box-shadow: 0 0 1vw black;
          box-shadow: 0 0 1vw black;
  overflow-y: auto;
}

.content__block-purchase-list::-webkit-scrollbar {
  width: 0;
}

.content__block-purchase-list-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 1vw;
  margin: 0 0 0.5vw 0;
  background: rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 0.4vw black inset, 0 0 1vw black;
          box-shadow: 0 0 0.4vw black inset, 0 0 1vw black;
  border-radius: 4vw;
}

.content__block-purchase-list-item-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 1vw;
  border: 0.2vw solid rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 0 1vw black, 0 0 0.5vw black inset;
          box-shadow: 0 0 1vw black, 0 0 0.5vw black inset;
  border-radius: 0.8vw;
  position: relative;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.content__block-purchase-list-item-block-add {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  opacity: 1;
}

.content__block-purchase-list-item-block:hover .font-size-1vw {
  font-size: 0;
}

.content__block-purchase-list-item-block:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.55vw;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
}

.content__block-purchase-list-item-block:hover:before {
  background: #eb1e3d;
  -webkit-box-shadow: 0 0 1vw black inset;
          box-shadow: 0 0 1vw black inset;
  content: "delete";
  opacity: 1;
  font-size: 1vw;
  cursor: pointer;
  letter-spacing: 0.06vw;
  text-shadow: 0 0 0.2vw white;
}

.content__block-purchase-list-title-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2vw;
  letter-spacing: 0.2vw;
  text-transform: capitalize;
  text-shadow: 0 0 0.3vw white;
  width: 10vw;
  height: 3vw;
  overflow: hidden;
  border-left: 0.1vw solid rgba(255, 255, 255, 0.2);
  border-right: 0.1vw solid rgba(255, 255, 255, 0.2);
}

.content__block-purchase-list-title-item:last-child {
  border-right: none;
}

.content__block-purchase-list-title-item:first-child {
  border-left: none;
}

.content__block-purchase-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 0.3vw;
  width: 10vw;
  height: 3vw;
  overflow: hidden;
  border-left: 0.1vw solid rgba(255, 255, 255, 0.2);
  border-right: 0.1vw solid rgba(255, 255, 255, 0.2);
  font-size: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.font-size-1vw {
  font-size: 1vw;
}

.content__block-purchase-list-item:last-child {
  border-right: none;
}

.content__block-purchase-list-item:first-child {
  border-left: none;
}

.content__block-chart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content__block-chart-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1vw 0;
  width: 20vw;
  background: transparent;
  -webkit-backdrop-filter: blur(0.2vw);
          backdrop-filter: blur(0.2vw);
  padding: 1vw 1vw;
  text-align: center;
  border-radius: 2vw;
  -webkit-box-shadow: 0 0 1vw black;
          box-shadow: 0 0 1vw black;
}

.canvas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 41.67vw;
}

.chart {
  width: 25vw;
  height: 25vw;
}

.unit {
  fill: none;
  stroke-width: 10;
}

.unit:nth-child(1) {
  stroke: #fc6500;
  stroke-dasharray: 8 100;
  stroke-dashoffset: 0;
}

.unit:nth-child(2) {
  stroke: #0ff5ed;
  stroke-dasharray: 11 100;
  stroke-dashoffset: -8;
}

.unit:nth-child(3) {
  stroke: #130ffe;
  stroke-dasharray: 11 100;
  stroke-dashoffset: -19;
}

.unit:nth-child(4) {
  stroke: #fc0048;
  stroke-dasharray: 11 100;
  stroke-dashoffset: -30;
}

.content__block-chart-list-legends-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 1vw;
  min-width: 13vw;
  font-size: 0.85vw;
}

.content__block-chart-list-legends {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.4vw 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content__block-chart-list-legends-item-color {
  width: 1vw;
  height: 1vw;
  border-radius: 100%;
}

.item-fast-food {
  background: #fc6500;
}

.item-sport {
  background: #0ff5ed;
}

.item-drinks {
  background: #130ffe;
}

.item-game {
  background: #fc0048;
}

.content__block-chart-list-legends-item-name {
  text-shadow: 0 0 0.4vw white;
  text-transform: capitalize;
}

.content__block-chart-list-legends-item-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 0.3vw;
}

.content__block-chart-list-inTotal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 0.2vw;
  font-size: 1vw;
}

.content__block-chart-list-inTotal-before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 0.3vw;
}

.content__block-chart-list-legends-item-before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 0.4vw;
  letter-spacing: 0.06vw;
}

.checking-device {
  width: 100vw;
  height: 100vh;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  -webkit-transition: 1s;
  transition: 1s;
}

.checking-device-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80vw;
  height: 90vw;
  background: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(3vw);
          backdrop-filter: blur(3vw);
  gap: 4vw 0;
  padding: 4vw;
  border-radius: 5vw;
  -webkit-box-shadow: 0 0 3.2vw white inset;
          box-shadow: 0 0 3.2vw white inset;
  -webkit-transition: 1s;
  transition: 1s;
  margin: 4vw 0;
}

.checking-device-content-txt {
  font-size: 3.4vw;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.checking-device-content-btn {
  width: 20vw;
  height: 8vw;
  background: transparent;
  color: white;
  border: 0.4vw solid black;
  border-radius: 1vw;
  -webkit-box-shadow: 0 0 1vw white inset;
          box-shadow: 0 0 1vw white inset;
  text-shadow: 0 0 1vw white;
  -webkit-animation: 3s borderColor infinite;
          animation: 3s borderColor infinite;
  font-size: 3.2vw;
  -webkit-transition: 1s;
  transition: 1s;
}

@-webkit-keyframes borderColor {
  0% {
    border: 0.4vw solid black;
  }
  50% {
    border: 0.4vw solid white;
  }
  100% {
    border: 0.4vw solid black;
  }
}

@keyframes borderColor {
  0% {
    border: 0.4vw solid black;
  }
  50% {
    border: 0.4vw solid white;
  }
  100% {
    border: 0.4vw solid black;
  }
}
.checking-device-content-close {
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  opacity: 0;
  font-size: 0;
  color: transparent;
  gap: 0;
  padding: 0;
  overflow: hidden;
}

.checking-device-content-btn-close {
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  opacity: 0;
  color: transparent;
  overflow: hidden;
}

.checking-device-content-txt-close {
  opacity: 0;
}

.checking-device-close {
  opacity: 0;
}